html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    /*
    background: url(download.png) no-repeat;
    background-size: 100% 100%;
    */
    background: #F5F5F5;
}



.main-container {
    width: 86%;
    margin: 0 auto;
    background-color: #FFF;
}

.footer-container {
    width: 86%;
    margin: 0 auto;
}




/* ===================
    ALL: Orange Theme
   =================== */

.clear {
    clear: both;
}

.header-container {
    border-bottom: 20px solid #e44d26;
}



#hpage_latest {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

#new-books {
    border-bottom: 2px solid #f16529;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.slider-wrap {

    padding-top: 0;
}

.bx-viewport {
    height:320px;
}

#hpage_latest ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#hpage_latest li {
    display: block;
    float: left;
    margin: 10px 0 20px 60px;
    padding: 0;
}


    #hpage_latest li.last {
        margin-right: 0;
    }

#hpage_latest img {
    width: 130px;
    height: 180px;
    margin: 0;
    padding: 4px;
    border: 1px solid #f16529;
}



.footer-container,
.main aside {
    border-top: 20px solid #e44d26; /* other colors #0084AD     #C75916*/
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}



/*============
    Footer!
============*/



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);

.footer1 {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0; /*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}



.title-widget {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

    .title-widget::before {
        background-color: #183bb2;
        content: "";
        height: 22px;
        left: 0px;
        position: absolute;
        top: -2px;
        width: 5px;
    }



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 95%;
}



.title-median {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    font-family: 'Gudea', sans-serif;
}


#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/* 
    Only Needed in Multi-Coloured Variation 
                                               */





.footer-bottom {
    background-color: #1d4cba;
    min-height: 30px;
    width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

    .design a {
        color: #fff;
    }


/************************************************************
*************************Footer******************************
*************************************************************/

/* ==============
    MOBILE: Menu
   ============== */

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #e44d26;
    border-color: #f16529;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: #e44d26;
    }


        .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #ffffff;
        }

            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #ffffff;
                background-color: #f16529;
            }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
            background-color: #f16529;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #f16529;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #f16529;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #f16529;
    }

    .navbar-default .navbar-toggle {
        border-color: #f16529;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #f16529;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

        .navbar-default .navbar-link:hover {
            color: #ffffff;
        }

.nav.navbar-nav.navbar-left li:hover {
    background-color: #f16529;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #e44d26;
    }
}


/*nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}

    nav a:hover,
    nav a:visited {
        color: white;
    }

    nav a:hover {
        text-decoration: underline;
    }*/

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}


.main aside {
    color: white;
    padding: 0px 5% 10px;
}

article section img {
    float: left;
    width: 100px;
    margin: 5px 15px 15px 15px;
}

article section a {
    text-decoration: none;
    color: #f16529;
}

    article section a:hover {
        text-decoration: none;
        color: #ff1f00;
    }

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.container {
    width:90%;
}

/* ===============
    Book-pages
   =============== */

.path-box{
    float: left;
    width: 99%;
}

.path-box ul {
    list-style-type: none;
    margin: 0;
}

.path-box li {
    float: left;
    padding: 10px 8px;
}

    .path-box li a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #e44d26;
    }

.book-img {
    width: 33%;
    margin: 10px 20px;
    padding: 20px 10px;
    float: left;
    border-right: 1px solid #ccccce;
    border-top: 1px solid #ccccce;
}

    .book-img .main-picture {
        width: 225px;
        height: 320px;
        margin: 0px 30px;
        max-width: 100%;
        height: auto;
    }

    .book-img .other-pictures {
        width: 100px;
        height: 147px;
        margin: 15px 20px;
        max-width: 100%;
        height: auto;
    }

    .book-img img:hover {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 7px rgba(0, 0, 0, .8);
    }

.under-pic {
    margin: 10px 10px;
    text-align: center;
}

.under-text {
    position: relative;
    height: 11px;
    background: url(../images/under-text-border.png) bottom center no-repeat;
    background-size: 100% 11px;
}

/* book info table wiht data about the book */

.info-table {
    margin: 0 auto;
}

.info-table td:first-child {
    padding-right: 25px;
    text-align: right;
}

.info-table td:last-child {
    border-left: 1px solid #f16529;
    padding-left: 25px;
    text-align: left;
}




}

/* book-info-down...information for author and the book */

.book-info {
    float: left;
    width: 60%;
}

/*----- Content of Tabs -----*/
.info-down .tab-content {
    padding: 15px;
    margin: 1px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
    height: 530px;
    overflow: auto;
}

.bs-example {
    margin: 20px;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* =============================================================
   Author's custom styles
   ========================================================== */





/* =============================================================
   Media Queries
   ========================================================== */

@media only screen and (min-width: 615px) {


    /* ====================
    INTERMEDIATE: Menu
   ==================== */

    /*nav a {
        float: left;
        width: auto;
        margin: 0 auto;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }*/

    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    /*nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }*/

    #hpage_latest li {
    }

    #hpage_latest h5 {
        display: none;
    }

    .container {
        width:90%;
    }
}

@media only screen and (min-width: 780px) {
    .list {
        margin: 1% 5%;
    }


}

@media only screen and (min-width: 768px) {

    /* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
    WIDE: Menu
   ============ */

    .title {
        font-size: 1.5em;
    }

    /*nav {
        float: right;
        width: 67%;
        border:1px solid #e44d26;
        border-radius: 20px 20px 0 0;
        background-color: #e44d26;
    }*/

    /* ============
    WIDE: Main
   ============ */




    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (max-width : 625px) {
    article #art-img {
        display: none;
    }
}

@media only screen and (max-width : 700px ) {
    #main-pic {
        display: none;
    }

    body {
        background: none;
    }

    .main-container {
        width: 100%;
    }

    .main.wrapper.clearfix h3, article {
        padding: 0 10px;
    }
    .footer-container {
        width:100%;
    }
}



@media only screen and (min-width : 683px) and (max-width : 907px) {
    #hpage_latest {
        width: 75%;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1017px) {
    .book-img {
        border: none;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 968px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .container {
        width: 930px;
    }

    /*.nav {
        width: 87%;
        
    }

    nav a {
        margin: 0 auto;
        width: auto;
    }*/
}

/* ====================================================
   Helper classes
   ================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* =======================================================
   Print styles
   ===================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
