﻿<div id="book-comment">
    <form>

        <div class="form-group">
            <label for="usr">Name</label>
            <input type="text" class="form-control" id="usr" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

        </div>

        <div class="form-group">
            <label for="exampleTextarea">Comment</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Add comment..."></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>