<?php
  include("header.html");
?>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div class="wrapper col4">
      <div id="container">
        <div class="gallery">
          <div class="breadcrumbs">
              <ul>
                    <li class="home">   
                    <a href="../index.html" title="Отиване в началната страница">Начало</a>
                    <span>/ </span>
                    </li>
                    <li class="category14">   
                    <strong>Бази данни</strong>
                    </li>
              </ul>
          </div>
          <br class="clear" />
          <div class="book-main">
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->          
<div class="gallery">
      <div class="row">
        <div class="col-lg-3">
              <div class="book-img">
                <a href="../images/demo/web/html-5-css-3-praktichesko-programirane-za-nachinaeshti-denis-kolisnichenko.jpg" data-title="HTML 5 & CSS 3" data-lightbox="Test">
                  <img src="../images/demo/web/html-5-css-3-praktichesko-programirane-za-nachinaeshti-denis-kolisnichenko.jpg" alt="HTML 5 & CSS 3 - практическо програмиране за начинаещи">
                </a>
              </div>
        </div>
      </div>
</div>
              <div class="book-info">
                <h1>HTML 5 &amp; CSS 3 - практическо програмиране за начинаещи</h1>
                <p>Денис Колисниченко</p>
                <p>Категория: Уеб</p>
                <div style="position: relative; float: left;">
             <table cellpadding="0" cellspacing="0">
             <tbody>
               <tr>
                 <td width="150"><img src="http://bg2.base.msrv.stor.bg/b-images/quad-transp.gif" width="150" height="1" style="display:block;" alt="">
                 </td>
                 <td class="specdelimiter"></td>
                 <td></td>
               </tr>
               <tr>
                 <td align="right" valign="top" class="speckey-product">Корица
                 </td>
                 <td class="specdelimiter-product"></td>
                 <td valign="top" class="specvalue-product">Мека<link itemprop="bookFormat" href="http://schema.org/Paperback"></td>
               </tr>
               <tr>
                 <td align="right" valign="top" class="speckey-product">Страници</td><td class="specdelimiter-product"></td>
                 <td valign="top" class="specvalue-product"><span itemprop="numberOfPages">248</span></td>
               </tr>
               <tr>
                 <td align="right" valign="top" class="speckey-product">Размери</td>
                 <td class="specdelimiter-product"></td><td valign="top" class="specvalue-product">16.00 / 23.50 / 2.50 cm</td>
               </tr>
               <tr>
                 <td align="right" valign="top" class="speckey-product">Тегло</td>
                 <td class="specdelimiter-product"></td><td valign="top" class="specvalue-product">0.300 kg</td>
               </tr>
             </tbody>
             </table>
             </div>
              </div>

          </div>
          <br class="clear" />
    </div>
  </div>
  <br class="clear" />
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  
</div>
<?php
  include("footer.html");
?>

